* {
    margin : 0;
    padding : 0;
    border : 0;
    box-sizing: border-box;
}

.border-red{
    border: 3px solid red;
}

.border-green{
    border: 3px solid green;
}

.border-radius{
     border: 1px solid black;
}